NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/visits_control
JWT_SECRET=change_me_super_secure
JWT_EXPIRES_IN=1d
CORS_ORIGIN=http://localhost:5173,https://tu-frontend.vercel.app
CORS_ORIGIN_SUFFIXES=.vercel.app,.spadd.net

OWNER_AUTOCREATE=true
OWNER_SYNC_PASSWORD=true
OWNER_PASSWORD=your_secure_password_here

# Google Drive - fotos DPI
GOOGLE_DRIVE_FOLDER_ID=1bdZXWr3rufUuC3XdT4Nv64RKyiwUjnWI
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"...}
